@import "~antd/dist/antd.css";

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  // flex-direction: column;
}

.logInPage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logInCard {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(37, 146, 84);
  border-radius: 40px;
  background-color: rgb(37, 37, 131);
  opacity: 0.7;
  Button {
    justify-content: space-around;
  }
}
.logInInputs {
  width: 300px;
  margin: 10px;
}

.singIn {
  width: 400px;
  height: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
