.singleUser {
  width: 90%;
  background-color: white;
  height: 150px;
  border: 2px solid blue;
  margin-left: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
